.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-style: normal;
  } 
/* header style */
.header-content{
    list-style: none;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 30px 160px;
}
    .header-title{
        color:#0E0E0E ;
        font-weight:bold ;
        font-size: 32px;
    }
    .header-btn{
        color: #006A50;
        font-weight: 600;
        font-size: 18px;
        border: 1px solid green;

    }
  /* nav style */
  .benner{
    display: flex;
    background-color:#C6E4D6 ;
    max-width: 1286px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    
    
  }
  .benner-content{
    max-width:622px;
    padding:77px 63px;
    
  }
  .benner-sub-title{
    color:rgba(14, 14, 14, 0.5) ;
    font-weight:normal;
    font-size: 24px;

  }
  .benner-title{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 51px;
  }
  .btn-primary{
    background-color:#006A50 ;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    padding: 17px 34px ;
  }
  .benner-profile-picture{
    width: 474;
    padding: 40px 63px;
  }
  /* The Vision of Future */

.informations{
    max-width: 1286px;
    margin: 80px auto;
}
.section-title{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 40px;
}
.section-description{
    color:rgba(14, 14, 14, 0.7);
    font-weight: 400;
    font-size: 16px;
}

.information-1{
    background-color: rgba(84, 144, 245, 0.2);
    border: none;
    border-radius: 16px;
    padding: 31px;
}
.information-title{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 20px;

}
.information-description{
    color:rgba(14, 14, 14, 0.7) ;
    font-weight: 400;
    font-size: 16px;
}
.information-btn-1{
    background-color: #5490F5;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 11px 20px;
}
.information-2{
    background-color:rgba(198, 228, 214, 1) ;
    border: none;
    border-radius: 16px;
    padding: 31px;
}
    .information-btn-2{
        background-color: #09A15C;
        border: none;
        border-radius: 5px;
        color:#FFFFFF ;
        padding: 11px 20px;
    }
.information-3{
    background-color:rgba(247, 235, 207, 1) ;
    border: none;
    border-radius: 16px;
    padding: 31px;
    
}
.information-btn-3{
    background-color:#FFC239 ;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 11px 20px;
}

.information-content{
    display: flex;
    gap: 24px;
}
/* Recent News */

.abba-keda{
    max-width: 1286px;
    margin: 80px auto;
}
.satlite{
    display: flex;
    background-color:#FFFFFF;
        padding:48px;
        border: none;
       border-radius: 24px;
       justify-content: space-between;
       gap: 32px;
}
.satlite-content{
    width: 744px;
    padding: 20px;
    
}
.Recent-News-title{
    color:#0E0E0E ;
    font-weight: bold;
    font-size: 40px;
}
.Recent-News-description{
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
    font-size: 16px;
}
.satelite-image{
    width: 408px;
    border: none;
    border-radius: 24px;
}
.satelite-title{
    color: #0E0E0E;
    font-weight:bold;
    font-size: 32px;
}
.satelite-date-time{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.satelite-description{
    color: rgba(14, 14, 14, 0.7);
    font-weight:400;
    font-size: 16px;
    
}
.satelite-btn{
    background-color:  #006A50;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 18px;
    padding: 13px 26px;
    border: none;
    border-radius: 8px;
}


.satelite-1{
    display: flex;
    margin: 24px auto;
    padding: 48px;
    background-color:#FFFFFF;
    border: none;
    border-radius: 24px;
    justify-content: space-between;
    gap: 32px;
}

.satelite-1-title{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 32px;
}
.satelite-1-sub-title{
    color:#0E0E0E ;
    font-size: 32px;
    font-weight:bold;
}
.sp{
    color:rgba(14, 14, 14, 0.7) ;
    font-weight: 400;
    font-size: 16px;
}
.satelite-1-description{
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
    font-size: 16px;
}
.satelite-1-btn{
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
   border-radius: 8px;
    padding:13px 26px;
}
.satelite-1-profile-picture{
    width: 408px;
    border: none;
    border-radius: 24px;
}

/* donate section */

.donate{
    max-width: 1286px;
    margin: 80px auto;
}
.donate-title{
    color:#0E0E0E ;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.donate-description{
    color:rgba(14, 14, 14, 0.7) ;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.donate-form{
    display:flex ;
    justify-content: space-around;

}
 .btn-1{
    color:#0E0E0E;
    font-weight: bold;
    font-family: 40px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    border:1px solid rgba(14, 14, 14, 0.15);
 }
 .btn-2{
    color:#0E0E0E;
    font-weight: bold;
    font-family: 40px;
    padding: 40px;
    background-color:#C6E4D6 ;
    border-radius: 16px;
    border:1px solid rgba(14, 14, 14, 0.15);
 }
 .btn-3{
    color:#0E0E0E;
    font-weight: bold;
    font-family: 40px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    border:1px solid rgba(14, 14, 14, 0.15);
 }
 .btn-4{
    color:#0E0E0E;
    font-weight: bold;
    font-family: 40px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    border:1px solid rgba(14, 14, 14, 0.15);
 }
 .form-input{
    width: 1032px;
    text-align: center;
    height: 64px;
    color: rgba(14, 14, 14, 0.3);
    border:1px solid rgba(14, 14, 14, 0.15);
    display: flex;
    margin: 0 auto;
 }
 .donate-btn{
    color:#FFFFFF ;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    padding: 13px 26px;
    display: flex;
    margin: 0 auto;
    
 }









 /* challenge part */


 

 /* Pillars of "Bangladesh 2.0" */
.parents{
    max-width: 1286px;
    margin: 80px auto;
}
.idia{
    background-color: #FFFFFF;
    border:1px solid rgba(14, 14, 14, 0.15) ;
    border-radius: 16px;
    padding: 24px;

}
.title-title{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 40px;
}
.idia-content{
    display: flex;
    gap: 24px;
    
}
 .idia-title{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 20px;
 }
 .idia-dsecription{
    color:rgba(14, 14, 14, 0.7) ;
    font-weight: 400;
    font-size: 16px;
 }



 